{{- if .Values.events.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "posthog.fullname" . }}-events
  labels: {{- include "_snippet-metadata-labels-common" . | nindent 4 }}
  annotations: {{- include "_snippet-metadata-annotations-common" . | nindent 4 }}
spec:
  selector:
    matchLabels:
        app: {{ template "posthog.fullname" . }}
        release: "{{ .Release.Name }}"
        role: events
  {{- if not .Values.events.hpa.enabled }}
  replicas: {{ .Values.events.replicacount }}
  {{- end }}
  template:
    metadata:
      annotations:
        checksum/secrets.yaml: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }}
      {{- if .Values.web.podAnnotations }}
{{ toYaml .Values.web.podAnnotations | indent 8 }}
      {{- end }}
      labels:
        app: {{ template "posthog.fullname" . }}
        release: "{{ .Release.Name }}"
        role: events
        {{- if (eq (default .Values.image.tag "none") "latest") }}
        date: "{{ now | unixEpoch }}"
        {{- end }}
        {{- if .Values.web.podLabels }}
{{ toYaml .Values.web.podLabels | indent 8 }}
        {{- end }}
    spec:
      {{- if .Values.web.affinity }}
      affinity: {{ toYaml .Values.web.affinity | nindent 12 }}
      {{- end }}
      {{- if .Values.web.tolerations }}
      tolerations: {{ toYaml .Values.web.tolerations | nindent 12 }}
      {{- end }}
      {{- if .Values.web.nodeSelector }}
      nodeSelector: {{ toYaml .Values.web.nodeSelector | nindent 12 }}
      {{- end }}

      serviceAccountName: {{ template "posthog.serviceAccountName" . }}

      {{- if .Values.web.schedulerName }}
      schedulerName: "{{ .Values.web.schedulerName }}"
      {{- end }}
      {{- if .Values.image.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.image.imagePullSecrets | indent 8 }}
      {{- end }}
      containers:
      - name: {{ .Chart.Name }}-events
        image: {{ template "posthog.image.fullPath" . }}
        command:
          - /bin/sh
          - -c
          - |
            ./bin/docker-server
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.service.internalPort }}
        env:
        # Redis env variables
        {{- include "snippet.redis-env" . | indent 8 }}

        # statsd env variables
        {{- include "snippet.statsd-env" . | indent 8 }}

        # Add common env variables
        {{- if .Values.env }}
        {{ toYaml .Values.env | indent 8 }}
        {{- end }}

        # Add events specific env variables
        {{- if .Values.events.env }}
        {{ toYaml .Values.events.env | indent 8 }}
        {{- end }}

        - name: SITE_URL
          value: {{ template "posthog.site.url" . }}
        - name: DEPLOYMENT
          value: {{ template "posthog.deploymentEnv" . }}
        - name: SENTRY_DSN
          value: {{ .Values.sentryDSN | quote }}
        - name: DISABLE_SECURE_SSL_REDIRECT
          value: '1'
        - name: IS_BEHIND_PROXY
          value: '1'
      {{- if eq .Values.web.secureCookies false }}
        - name: SECURE_COOKIES
          value: '0'
      {{- end }}
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: {{ template "posthog.fullname" . }}
              key: posthog-secret
        - name: PRIMARY_DB
          value: clickhouse
        {{- include "snippet.postgresql-env" . | nindent 8 }}
        {{- include "snippet.clickhouse-env" . | nindent 8 }}
        {{- include "snippet.email-env" . | nindent 8 }}
        - name: CAPTURE_INTERNAL_METRICS
          value: {{ .Values.web.internalMetrics.capture| quote }}
        {{- if .Values.kafka.enabled }}
        - name: KAFKA_URL
          value: {{ template "posthog.kafka.url" . }}
        {{- end }}
        {{- if .Values.plugins.ingestion.enabled }}
        - name: PLUGIN_SERVER_INGESTION
          value: 'true'
        {{- end }}
        - name: HELM_INSTALL_INFO
          value: {{ template "posthog.helmInstallInfo" . }}

        livenessProbe:
          failureThreshold: {{ .Values.web.livenessProbe.failureThreshold }}
          httpGet:
            path: /_health/
            port: {{ .Values.service.internalPort }}
            scheme: HTTP
          initialDelaySeconds: {{ .Values.web.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.web.livenessProbe.periodSeconds }}
          successThreshold: {{ .Values.web.livenessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.web.livenessProbe.timeoutSeconds }}
        readinessProbe:
          failureThreshold: {{ .Values.web.readinessProbe.failureThreshold }}
          httpGet:
            path: /_health/
            port: {{ .Values.service.internalPort }}
            scheme: HTTP
          initialDelaySeconds: {{ .Values.web.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.web.readinessProbe.periodSeconds }}
          successThreshold: {{ .Values.web.readinessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.web.readinessProbe.timeoutSeconds }}
        resources:
{{ toYaml .Values.web.resources | indent 12 }}
      initContainers:
      {{- include "_snippet-initContainers-wait-for-service-dependencies" . | indent 8 }}
      {{- include "_snippet-initContainers-wait-for-migrations" . | indent 8 }}
{{- end }}
