#
# We need a dedicated config file for flake8 as the
# support for 'pyproject.toml' hasn't landed yet.
# - https://github.com/PyCQA/flake8/issues/234
#

[flake8]
application-import-names = posthog
import-order-style = pycharm

max-line-length = 127
max-complexity = 10

select=E9,F63,F7,F82,W605,T001,T002,T003,T004

exclude =
    .pytest_cache,
    .venv
