{{- if .Values.clickhouse.enabled }}
# Template Parameters:
#
# NAMESPACE={{ .Values.clickhouse.namespace | default .Release.Namespace }}
# COMMENT=
#
# Setup ClusterIP Service to provide monitoring metrics for Prometheus
# Service would be created in kubectl-specified namespace
# In order to get access outside of k8s it should be exposed as:
# kubectl --namespace prometheus port-forward service/prometheus 9090
# and point browser to localhost:9090
kind: Service
apiVersion: v1
metadata:
  name: clickhouse-operator-metrics
  namespace: {{ .Values.clickhouse.namespace | default .Release.Namespace }}
  labels:
    clickhouse.altinity.com/chop: 0.18.4
    app: clickhouse-operator
spec:
  ports:
    - port: 8888
      name: clickhouse-operator-metrics
  selector:
    app: clickhouse-operator

{{- end }}
