{{- if .Values.clickhouse.enabled }}
# Template Parameters:
#
# COMMENT=
# NAMESPACE=posthog
# NAME=clickhouse-operator
#
# Setup ServiceAccount
apiVersion: v1
kind: ServiceAccount
metadata:
  name: clickhouse-operator
  namespace: {{ .Values.clickhouse.namespace | default .Release.Namespace }}

{{- end }}
