# PostHog Helm chart configuration

## Configuration

The following table lists the configurable parameters of the PostHog chart and their default values.

{{ template "chart.valuesSection" . }}

Dependent charts can also have values overwritten. Preface values with postgresql.*
