# PostHog Helm chart configuration

{{ template "chart.versionBadge" . }}{{ template "chart.appVersionBadge" . }}

## Configuration

The following table lists the configurable parameters of the PostHog chart and their default values.

{{ template "chart.valuesSection" . }}

Dependent charts can also have values overwritten. For more info see our [docs](https://posthog.com/docs/self-host/deploy/configuration).

{{ template "helm-docs.versionFooter" . }}
