name: e2e - k3s (kubetest)

on:
  workflow_dispatch:
  push:
    paths:
      - ci/**
      - charts/**
      - .github/workflows/test-kubetest.yaml

jobs:
  test-kubetest:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        name: Checkout

      - uses: jupyterhub/action-k3s-helm@v1
        with:
          k3s-channel: v1.21
          metrics-enabled: false
          traefik-enabled: false

      - name: Install Python dependencies
        run: |
          python -m pip install -r ci/kubetest/requirements.txt

      - name: Run kubetest
        run: |
          cd ci/kubetest && python -m pytest .
