name: e2e - kubetest

on:
  workflow_dispatch:
  pull_request:
    paths:
      - ci/**
      - charts/**
      - .github/workflows/test-kubetest.yaml
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test-kubetest:
    runs-on: ubuntu-20.04

    name: e2e - kubetest (${{matrix.group}}/${{ matrix.concurrency }})

    strategy:
      fail-fast: false
      matrix:
        # :NOTE: Keep concurrency and group's in sync
        concurrency: [10]
        group: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    steps:
      - uses: actions/checkout@v3
        name: Checkout

      - uses: jupyterhub/action-k3s-helm@v2
        with:
          k3s-channel: v1.22
          metrics-enabled: false
          traefik-enabled: false

      - name: Install Python dependencies
        run: |
          python -m pip install -r ci/kubetest/requirements.txt

      - name: Run kubetest
        run: |
          cd ci/kubetest && \
          python -m pytest . -s \
            --maxfail=1 \
            --splits ${{ matrix.concurrency }} \
            --group ${{ matrix.group }} \
            --splitting-algorithm=least_duration \
            --group-by file

      - name: Emit namespace report
        uses: jupyterhub/action-k8s-namespace-report@v1
        if: always()
        with:
          namespace: posthog
